@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.welcome a::before {
  content: "➜ ";
}

/* In your global CSS file */

/* .dark-mode ._3eULf * {
  fill: none;
} */
.dark-mode ._35nLX {
  fill: none;
}
.dark-mode ._34SS0 {
  @apply bg-gray-800;
}
.dark-mode ._3ZbQT div {
  background-color: inherit;
}

.dark-mode ._3eULf {
  @apply bg-gray-800;
}

.dark-mode .calendar {
  @apply bg-gray-800;
}
.dark-mode .today rect {
  @apply bg-gray-800;
  fill: none;
}

.dark-mode .calendar text {
  /* Tailwind doesn't have a utility for SVG fill, so you might need to use plain CSS */
  fill: white;
}

/* Removes the fill from the rows in dark mode */
.dark-mode g.rows rect._2dZTy {
  fill: none; /* or set to a different color if you prefer */
}

.dark-mode ._3T42e {
  @apply bg-gray-800;
  /* Or any other Tailwind color */
}
.dark-mode ._3T42e p {
  color: white;
  /* Or any other Tailwind color */
}

/*Gantt chart scrollbar styles*/

/* For Webkit browsers like Chrome, Safari */
.dark-mode ::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.dark-mode ::-webkit-scrollbar-track {
  background: #2e2e2e; /* The track of the scrollbar */
}

.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #888; /* The draggable part of the scrollbar */
  border-radius: 6px;
  border: 3px solid #2e2e2e;
}

/* For Firefox */
.dark-mode {
  scrollbar-width: thin;
  scrollbar-color: #888 #2e2e2e;
}

/* For other browsers that support the standard properties */
.dark-mode ::-moz-scrollbar {
  background: #010000;
}

.dark-mode ::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #2e2e2e;
}
